@model IEnumerable<Mailoo.Models.Category>
<a href="@Url.Action("Create")" class="btn btn-primary">Add a new Category</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>

